.cli-modal-backdrop {
    background-color: rgba(37, 29, 25, 0.21) !important;

    &.cli-show {
        opacity: 1;
    }
}

.wt-cli-cookie-bar-container {
    .cli-bar-container {
        max-width: 1800px;
    }
    #cookie-law-info-bar {
        bottom: 0 !important;
        top: inherit !important;
        left: 0 !important;
        transform: inherit !important;
        width: 100% !important;

        padding: 30px 20px 16px !important;

        @include tablet {
            padding: 30px 40px 16px !important;
        }

        @include desktop-1280 {
            padding: 30px 50px 16px !important;
        }

        @include desktop-1366 {
            padding: 40px 60px 30px !important;
        }

        .cli-bar-message {
            @include Body-Mobile;

            padding-bottom: 21px;

            @include desktop {
                padding-bottom: 18px;
            }

            a {
                &:hover {
                    opacity: 0.7;
                }
            }
        }

        .btn-principal-cookies,
        .btn-secondary {
            text-align: center;

            @include desktop {
                text-align: left;
            }

            a {
                @include button;
                border-radius: 100px !important;
                color: #fff !important;
                margin: 0 auto !important;
                padding: 10px 42px !important;
                border: none !important;
            }
        }

        .btn-principal-cookies {
            @include desktop {
                float: left;
            }
        }

        .btn-secondary {
            padding-top: 5px;

            @include desktop {
                padding-top: 0;
            }

            a {
                color: $black !important;
                background-color: transparent !important;
                background-image: none !important;
            }
        }
    }
}