#footer-wrapper {
  position: relative;
  margin-top: 60px;

  .footer-wrapper--inner {
    padding: 40px 0;
    color: $white;
  }

  .cont__menu {
    &--social {
      p {
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 600;
        color: rgb(98, 98, 98);
        text-align: center;
        margin-bottom: 0px !important;
      }

      &_content {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;

        a {
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 600;
          color: rgb(98, 98, 98);
          text-align: center;
        }
      }
    }
  }
}