body {
  .menu-menu-principal-container {}


  &.menu-open {
    overflow-y: hidden;
  }

  &.home {
    .main-navigation .cont--menu .menu--right .menu-menu-principal-container ul.menu li.menu-item a {
      @include desktop {
        color: $white;

        &:hover {
          color: $black;
        }

        &:before {
          background-color: $white;
        }
      }
    }

    #header-wrapper header.site-header .cont--menu__open .burger {

      span,
      span:before,
      span:after {
        background-color: $white;
        border-color: $white;
      }
    }

    &.menu-open {
      #header-wrapper header.site-header .cont--menu__open .burger {

        span {
          background-color: transparent;
          border-color: transparent;
        }

        span:before,
        span:after {
          background-color: $white;
          border-color: $white;
        }
      }
    }
  }
}

.main-navigation {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 0;

  visibility: hidden;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;

  overflow-y: auto;
  background: $white;

  -webkit-transition: all 500ms cubic-bezier(0.43, 0.125, 0.535, 0.83);
  transition: all 500ms cubic-bezier(0.43, 0.125, 0.535, 0.83);

  // TRANSITIONS ON SHOW
  &.show {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;

    .cont--menu .menu--right {
      .menu--right-categories {
        @include animationFadeIn(0.7s);
      }

      #primary-menu,
      .menu--right-bottom {
        @include animationFadeInMove(0.9s);
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    z-index: -1;

    width: 100vw;
    height: 211px;

    bottom: 0;
    left: 0;

    @include desktop {
      content: none;
    }
  }

  @include desktop {
    position: relative;

    visibility: visible;
    z-index: 1;
    opacity: 1;
    overflow: inherit;

    background-color: transparent;

    width: inherit;
    height: inherit;
  }

  ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li.menu-item {
      a {
        display: block;
        text-decoration: none;
      }
    }
  }

  .cont--menu {
    padding-top: 25px;
    padding-bottom: 50px;

    height: 100%;

    background: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include desktop {
      padding: 0;
      background: none;
    }

    .menu__mobile {
      margin: 0px;

      li {
        list-style: none;
        text-align: center;
        margin: 15px 0px;

        a {
          color: $white;
          text-decoration: none;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 50px;
        }

      }
    }
  }
}