.blob {
    position: absolute;
    right: -15%;
    top: 0;
    background-color: $primary;
    width: 600px;
    height: 100vh;
    border-radius: 50%;
    filter: blur(300px);
    opacity: 0.3;
    animation: breath 1s linear infinite alternate-reverse;
}


@keyframes breath {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.5;
    }
}