$icomoon-font-family: "casualplay" !default;
$icomoon-font-path: "fonts" !default;

$icon-call: unquote('"\\e91e"');
$icon-info: unquote('"\\e91f"');
$icon-question: unquote('"\\e920"');
$icon-speak: unquote('"\\e921"');
$icon-search: unquote('"\\e91d"');
$icon-download: unquote('"\\e91c"');
$icon-youtube: unquote('"\\e91b"');
$icon-cart: unquote('"\\e919"');
$icon-user: unquote('"\\e91a"');
$icon-filter-icon: unquote('"\\e917"');
$icon-cart-icon: unquote('"\\e909"');
$icon-fast-shipping-icn: unquote('"\\e90a"');
$icon-heart-icon: unquote('"\\e90b"');
$icon-link-external-icon: unquote('"\\e90c"');
$icon-play-icon: unquote('"\\e90d"');
$icon-profile-icon: unquote('"\\e90e"');
$icon-tick-icon: unquote('"\\e90f"');
$icon-truck-icn: unquote('"\\e910"');
$icon-cart-idioma: unquote('"\\e918"');
$icon-burger: unquote('"\\e900"');
$icon-close: unquote('"\\e901"');
$icon-arrow-next: unquote('"\\e902"');
$icon-arrow-prev: unquote('"\\e903"');
$icon-plus: unquote('"\\e908"');
$icon-less: unquote('"\\e911"');
$icon-arrow: unquote('"\\e912"');
$icon-email: unquote('"\\e904"');
$icon-facebook: unquote('"\\e905"');
$icon-twitter: unquote('"\\e906"');
$icon-whatsaap: unquote('"\\e907"');
$icon-pinterest: unquote('"\\e913"');
$icon-linkedin: unquote('"\\e916"');
$icon-instagram: unquote('"\\e914"');
$icon-share: unquote('"\\e915"');

