form {
  a {
    &:hover {
      opacity: 0.7;
    }
  }

  .wpcf7-spinner {
    position: absolute;
  }

  .columns-one {
    display: grid;
    row-gap: 19px;

    padding-bottom: 19px;

    @include desktop-1440 {
      row-gap: 33px;

      padding-bottom: 33px;
    }

    >br {
      display: none;
    }

    &.no-padding {
      padding-bottom: 4px;

      @include desktop-1440 {
        padding-bottom: 9px;
      }
    }

    label {
      @include font-regular;
      font-size: 1rem;
      line-height: 1.56;

      color: #9f9f9f;

      @include desktop-1440 {
        font-size: 1.125rem;
        line-height: 1.39;
      }
    }
  }

  .columns-two {
    display: grid;
    column-gap: 20px;
    row-gap: 19px;

    padding-bottom: 19px;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include desktop-1440 {
      row-gap: 33px;

      padding-bottom: 33px;
    }

    >br {
      display: none;
    }
  }

  .cont--input-checkbox {
    padding-bottom: 15px;

    >br {
      display: none;
    }
  }

  .max-lenght {
    font-size: 0.867rem;
    line-height: 1.15;
    text-align: right;

    color: #c4c4c4;
    margin-top: -5px;
  }

  small {
    color: #C4C4C4;
  }

  .wpcf7-not-valid-tip {
    @include font-regular;
    font-size: 0.8rem;
    line-height: 1.25;
    letter-spacing: normal;

    color: #ff0b0b;

    padding-top: 6px;
  }

  .wpcf7-response-output {
    text-align: center;

    border-width: 1px !important;

    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  input[type=submit] {
    width: auto;
    min-width: 131px;

    margin-top: 30px;

    @include desktop-1440 {
      min-width: 190px;

      padding: 12px 19px;
      margin-top: 18px;
    }
  }
}

.wpcf7 form.sent .wpcf7-response-output {
  border-color: $black !important;
}

.cont--input {
  position: relative;
  margin: auto;
  width: 100%;
  overflow: hidden;
}

.label {
  @include font-regular;
  font-size: 1rem;
  line-height: 1.56;

  color: #9f9f9f;

  @include desktop-1440 {
    font-size: 1.125rem;
    line-height: 1.39;
  }
}

input,
textarea {
  @include font-regular;
  font-size: 1rem;
  line-height: 1.56;
  letter-spacing: normal;

  color: $dark;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;

  padding-bottom: 4px;

  transition: all 0.15s ease;

  border: none;
  border-bottom: 1px solid #9f9f9f;
  border-radius: 0;
  background-color: transparent;

  &::placeholder {
    @include font-regular;
    font-size: 1rem;
    line-height: 1.56;

    color: #9f9f9f;

    @include desktop-1440 {
      font-size: 1.125rem;
      line-height: 1.39;
    }
  }

  &:focus {
    outline: none;
    border-color: $black;
  }

  @include desktop-1440 {
    font-size: 1.125rem;
    line-height: 1.39;

    padding-bottom: 8px;
  }
}

select.wpcf7-select {
  @include font-regular;
  font-size: 1rem;
  line-height: 1.56;
  letter-spacing: normal;

  color: $dark;

  width: 100%;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #9f9f9f;

  padding-bottom: 4px;
  outline: none;

  @include desktop-1440 {
    font-size: 1.125rem;
    line-height: 1.39;

    padding-bottom: 8px;
  }
}

textarea {
  border: 1px solid #9f9f9f;
  padding: 9px 13px;

  max-height: 124px;

  margin-top: 12px;

  @include desktop-1440 {
    padding: 13px 18px;
    margin-top: 33px;
  }
}

form input:-webkit-autofill,
form input:-webkit-autofill:hover {
  box-shadow: 0 0 0 50px white inset !important;
}

label:has(input[type="checkbox"]) {
  font-size: 0.875rem;
  line-height: 1.21;

  color: #696969;

  @include flexbox;
  gap: 10px;

  @include desktop-1440 {
    font-size: 0.938rem;
    line-height: 1.33;
  }

  a {
    display: inline-block;
    @include hover_link_two;

    color: #696969;

    &:before,
    &:after {
      bottom: 0;
      bottom: 1px;
      background: #696969;
    }
  }
}

input[type="checkbox"] {
  position: relative;
  width: 17px;
  min-width: 17px;
  height: 17px;
  padding: 0;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid $black;
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    border-color: $primary;
  }

  &:checked {
    background-color: $primary;
    border-color: $primary;
    box-shadow: inset 0 0 0 0px #fff, inset 0 0 0 10px $primary;
  }
}

input[type="radio"] {
  position: relative;
  width: 17px;
  min-width: 17px;
  height: 17px;
  padding: 0;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid $black;
  border-radius: 50%;
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    border-color: $primary;
  }

  &:checked {
    background-color: $primary;
    border-color: $primary;
    box-shadow: inset 0 0 0 0px #fff, inset 0 0 0 10px $primary;
  }
}

input[type="file"] {
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.items-required {
  display: none;

  font-size: 0.938rem;
  line-height: 1.33;
  text-align: right;

  margin-bottom: -20px;

  color: #696969;

  @include desktop-1920 {
    display: block;
  }
}