header {
    .container {
        display: flex;
        justify-content: space-between;

        .logo {
            display: flex;

            svg {
                max-width: 100px;
                height: auto;

                @include desktop {
                    max-width: 300px;
                }
            }
        }

        .main-navigation {

            ul {
                display: flex;
                justify-content: end;
            }
        }
    }
}