.product-datasheet {
    margin-top: 30px;
    margin-bottom: 30px;

    @include desktop {
        margin-top: 100px;
        margin-bottom: 120px;
    }

    .title-section {
        margin-bottom: 16px;

        @include desktop {
            margin-bottom: 29px;
        }
    }

    .cont__inner {
        @include desktop {
            @include flexbox;
            justify-content: space-between;
        }
    }

    .cont__tabs-menu {
        display: none;

        @include desktop {
            display: block;

            width: 27%;
        }

        @include desktop-1600 {
            width: 20%;
        }

        .cont__tab {
            @include flexbox;
            align-items: center;
            justify-content: space-between;

            border-top: 1px solid #d8d8d8;

            padding-top: 20px;
            padding-bottom: 19px;
            cursor: pointer;

            &:hover,
            &.active {
                .icon-arrow {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }

        .cont__separator {
            border-top: 1px solid #d8d8d8;
        }

        .cont__title {
            @include font-bold;
            font-size: 0.938rem;
            line-height: 1.33;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }

        .icon-arrow {
            font-size: 12px;
            margin-right: 11px;

            transform: rotate(-90deg);

            width: 40px;
            height: 40px;

            @include flexbox;
            align-items: center;
            justify-content: center;

            @include desktop-1600 {
                margin-right: 0;
            }

            &:after {
                content: '';
                @include absolute_center_xy;
                width: 40px;
                height: 40px;

                background-color: $white-2;
                border-radius: 50%;

                @include transition;
                opacity: 0;
                z-index: -1;
            }
        }
    }

    .cont__tabs-content {
        border-bottom: 1px solid #d8d8d8;

        @include desktop {
            width: 66%;

            border-bottom: none;
        }

        @include desktop-1600 {
            width: 75%;
        }

        .cont__dropdown {
            @include flexbox;
            align-items: center;
            justify-content: space-between;

            border-top: 1px solid #d8d8d8;

            padding-top: 20px;
            padding-bottom: 20px;

            cursor: pointer;

            @include desktop {
                display: none;
            }

            &.active {
                .icon-arrow {
                    transform: rotate(180deg);
                }
            }

            .cont__title {
                @include font-bold;
                font-size: 0.875rem;
                line-height: 1.29;
                letter-spacing: 1.4px;
                text-transform: uppercase;
            }

            .icon-arrow {
                font-size: 12px;
                margin-right: 4px;
            }
        }

        .cont__tab-content {
            display: none;

            padding-bottom: 16px;

            &.show {
                display: block;
            }

            &#peso {

                .cont__content {
                    @include tablet {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                    }

                    @include desktop {
                        grid-template-columns: 1fr 1fr 1fr;
                        column-gap: 20px;
                    }

                    @include desktop-1440 {
                        column-gap: 70px;
                    }

                    .cont__item {
                        .cont__item-title {
                            @include font-medium;
                            font-size: 1.125rem;
                            line-height: 1.33;

                            color: $dark;

                            margin-bottom: 10px;

                            @include desktop {
                                @include Title3-Mobile;
                            }
                        }

                        .cont__item-content {
                            margin-bottom: 40px;

                            .cont__item-content-inner {
                                font-size: 0.875rem;
                                line-height: 1.29;

                                color: #676767;

                                @include desktop {
                                    @include Small-Mobile;
                                }

                                strong {
                                    display: block;

                                    color: $dark;

                                    margin-top: 10px;

                                    @include desktop {
                                        @include Title4-Mobile;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &#materiales {
                .cont__content {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 20px;
                    row-gap: 20px;

                    @include tablet {
                        grid-template-columns: 1fr 1fr 1fr;
                    }

                    @include desktop {
                        grid-template-columns: 1fr 1fr;
                        column-gap: 50px;
                        row-gap: 50px;
                    }

                    @include desktop-1440 {
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        column-gap: 70px;
                    }

                    .cont__item {
                        @include flexbox;
                        flex-direction: column;
                        height: 100%;

                        .cont__image {
                            flex-grow: 1;
                        }

                        img {
                            margin-bottom: 10px;
                            width: 100%;
                        }

                        .cont__item-title {
                            @include font-medium;
                            font-size: 1.125rem;
                            line-height: 1.33;

                            color: $dark;

                            margin-bottom: 5px;

                            @include desktop {
                                @include Title3-Mobile;
                            }
                        }

                        .cont__item-text {
                            font-size: 0.875rem;
                            line-height: 1.29;

                            color: #676767;

                            @include desktop {
                                @include Small-Mobile;
                            }
                        }
                    }
                }
            }

            &#instalacion {
                .cont__item-title {
                    @include font-medium;
                    font-size: 1.125rem;
                    line-height: 1.33;

                    color: $dark;

                    margin-bottom: 5px;

                    @include desktop {
                        @include Title3-Mobile;
                    }
                }

                .cont__text {
                    font-size: 0.875rem;
                    line-height: 1.29;

                    color: #676767;

                    @include desktop {
                        @include Small-Mobile;
                    }
                }

                .cont__video {
                    margin-top: 20px;

                    a {
                        font-size: 0.938rem;
                        line-height: 1.33;

                        @include flexbox;
                        align-items: center;
                        column-gap: 30px;

                        width: fit-content;
                        min-width: auto;
                        padding: 2px 2px 2px 13px;

                        &:hover {
                            span {
                                &.icon-play-icon {
                                    background-color: $dark;
                                    color: $white;
                                }
                            }
                        }

                        span {
                            &.icon-play-icon {
                                position: relative;
                                display: block;

                                font-size: 12px;

                                width: 25px;
                                height: 25px;

                                background-color: $white;
                                color: $dark;
                                border-radius: 50%;

                                @include flexbox;
                                align-items: center;
                                justify-content: center;

                                @include transition;

                                &:before {
                                    position: absolute;
                                    top: 7px;
                                    left: 8px;
                                }
                            }
                        }
                    }

                    .cont--video--iframe {
                        position: fixed;
                        top: 0;
                        left: 0;

                        width: 100%;
                        height: 100%;

                        background-color: rgba($black, 0.5);

                        @include flexbox;
                        align-items: center;
                        justify-content: center;

                        opacity: 0;
                        visibility: hidden;
                        z-index: -1;

                        &.show {
                            opacity: 1;
                            visibility: visible;
                            z-index: 4;
                        }

                        .cont--close {
                            font-size: 18px;

                            position: absolute;
                            top: 20px;
                            right: 20px;

                            color: $white;
                            background-color: $black;

                            border-radius: 50%;

                            width: 50px;
                            height: 50px;

                            @include flexbox;
                            align-items: center;
                            justify-content: center;

                            cursor: pointer;
                        }

                        .cont--video {
                            text-align: center;

                            iframe {
                                max-width: calc(100% - 50px);
                                aspect-ratio: 16 / 9;
                                height: inherit;
                            }
                        }
                    }
                }
            }

            &#homologaciones {
                .cont__item-title {
                    @include font-medium;
                    font-size: 1.125rem;
                    line-height: 1.33;

                    color: $dark;

                    margin-bottom: 5px;

                    @include desktop {
                        @include Title3-Mobile;
                    }
                }

                .cont__items {
                    @include flexbox_wrap;
                    column-gap: 20px;
                    row-gap: 20px;
                }

                .cont__item {
                    img {
                        margin-bottom: 5px;
                    }

                    .cont__item-text {
                        font-size: 0.875rem;
                        line-height: 1.29;

                        color: #676767;

                        @include desktop {
                            @include Small-Mobile;
                        }
                    }
                }
            }

            &#mantenimiento {
                .cont__item-title {
                    @include font-medium;
                    font-size: 1.125rem;
                    line-height: 1.33;

                    color: $dark;

                    margin-bottom: 5px;

                    @include desktop {
                        @include Title3-Mobile;
                    }
                }

                .cont__items {
                    display: grid;
                    column-gap: 20px;
                    row-gap: 20px;

                    @include tablet {
                        grid-template-columns: 1fr 1fr;
                    }

                    @include desktop-1440 {
                        grid-template-columns: 1fr 1fr 1fr;
                        column-gap: 70px;
                    }
                }

                .cont__item-text {
                    font-size: 0.875rem;
                    line-height: 1.29;

                    color: #676767;

                    @include desktop {
                        @include Small-Mobile;
                    }
                }

                .cont__video {
                    a {
                        font-size: 0.938rem;
                        line-height: 1.33;

                        @include flexbox;
                        align-items: center;
                        column-gap: 30px;

                        width: fit-content;
                        min-width: auto;
                        padding: 2px 2px 2px 13px;

                        &:hover {
                            span {
                                &.icon-play-icon {
                                    background-color: $dark;
                                    color: $white;
                                }
                            }
                        }

                        span {
                            &.icon-play-icon {
                                position: relative;
                                display: block;

                                font-size: 12px;

                                width: 25px;
                                height: 25px;

                                background-color: $white;
                                color: $dark;
                                border-radius: 50%;

                                @include flexbox;
                                align-items: center;
                                justify-content: center;

                                @include transition;

                                &:before {
                                    position: absolute;
                                    top: 7px;
                                    left: 8px;
                                }
                            }
                        }
                    }

                    .cont--video--iframe {
                        position: fixed;
                        top: 0;
                        left: 0;

                        width: 100%;
                        height: 100%;

                        background-color: rgba($black, 0.5);

                        @include flexbox;
                        align-items: center;
                        justify-content: center;

                        opacity: 0;
                        visibility: hidden;
                        z-index: -1;

                        &.show {
                            opacity: 1;
                            visibility: visible;
                            z-index: 4;
                        }

                        .cont--close {
                            font-size: 18px;

                            position: absolute;
                            top: 20px;
                            right: 20px;

                            color: $white;
                            background-color: $black;

                            border-radius: 50%;

                            width: 50px;
                            height: 50px;

                            @include flexbox;
                            align-items: center;
                            justify-content: center;

                            cursor: pointer;
                        }

                        .cont--video {
                            text-align: center;

                            iframe {
                                max-width: calc(100% - 50px);
                                aspect-ratio: 16 / 9;
                                height: inherit;
                            }
                        }
                    }
                }
            }

            &#especificaciones {
                .cont__item-title {
                    @include font-medium;
                    font-size: 1.125rem;
                    line-height: 1.33;

                    color: $dark;

                    margin-bottom: 5px;

                    @include desktop {
                        @include Title3-Mobile;
                    }
                }

                .cont__items {
                    display: grid;
                    column-gap: 20px;
                    row-gap: 20px;

                    @include tablet {
                        grid-template-columns: 1fr 1fr;
                    }

                    @include desktop-1440 {
                        grid-template-columns: 1fr 1fr 1fr;
                        column-gap: 70px;
                    }
                }

                .cont__text {
                    font-size: 0.875rem;
                    line-height: 1.29;

                    color: #676767;

                    @include desktop {
                        @include Small-Mobile;
                    }
                }
            }
        }
    }

    .cont__manual {
        margin-top: 19px;

        &.mobile {
            @include desktop {
                display: none;
            }
        }

        &.desktop {
            display: none;

            @include desktop {
                display: block;
            }
        }
    }
}