.section__title-subtitle {
    h1 {
        text-align: center;
            font-size: 40px;

        @include desktop {
            font-size: 80px;
        }
    }

    h2 {
        text-align: center;
    }
}