.section__title-subtitle {
    .container {
        padding: 0px;
        max-width: 100%;

        h1 {
            font-size: 16vw;
            text-align: center;
        }

        h2 {
            text-align: center;
        }
    }
}