.section__title-subtitle {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include desktop {
        height: 70vh;
    }

    .container {
        padding: 0px;
        max-width: 100%;

        h1 {
            font-size: 16vw;
            text-align: center;
        }

        h2 {
            text-align: center;
        }
    }
}