$icomoon-font-family: "wp5" !default;
$icomoon-font-path: "fonts" !default;

$icon-filter-icon: "\e917";
$icon-cart-icon: "\e909";
$icon-fast-shipping-icn: "\e90a";
$icon-heart-icon: "\e90b";
$icon-link-external-icon: "\e90c";
$icon-play-icon: "\e90d";
$icon-profile-icon: "\e90e";
$icon-tick-icon: "\e90f";
$icon-truck-icn: "\e910";
$icon-cart-idioma: "\e918";
$icon-burger: "\e900";
$icon-close: "\e901";
$icon-arrow-next: "\e902";
$icon-arrow-prev: "\e903";
$icon-plus: "\e908";
$icon-less: "\e911";
$icon-arrow: "\e912";
$icon-email: "\e904";
$icon-facebok: "\e905";
$icon-twitter: "\e906";
$icon-whatsaap: "\e907";
$icon-pinterest: "\e913";
$icon-linkedin: "\e916";
$icon-instagram: "\e914";
$icon-share: "\e915";

